<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar 
      mode="ios"
      showCancelButton="never" 
      placeholder="film, genre ou acteur" 
      (ionChange)="filterMovies($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item (click)="showDetailsAction(movie)" *ngFor="let movie of moviesfound">
      <ion-thumbnail slot="start">
        <ion-img [src]= "movie.image">
        </ion-img>
      </ion-thumbnail>
      <ion-label text-wrap>
          <ion-text>
            <h2>{{ movie.title }}</h2>
          </ion-text>
          <ion-text *ngFor="let genre of movie.genre">
            <p id="genre">{{ genre }}</p>
          </ion-text>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>